* {
  margin: 0;
  padding: 0;
  border: none;
}

body,
html {
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  color: #3a3a3a;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: "Lora", serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #252525;
}

h3 {
  font-family: "Lora", serif;
  letter-spacing: 4px;
  color: #252525;
}

#logo {
  float: left;
  font-size: 200%;
  line-height: 75px;
}

#menu {
  font-size: 110%;
  letter-spacing: 4px;
  line-height: 75px;
}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover,
.active {
  border-bottom: 1px solid #3a3a3a;
}

#hero-outer {
  height: 400px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#hero-image {
  height: 100%;
  width: 100%;
  background: url("../images/hero-image.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.hero-text {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: #e75480;
  text-transform: uppercase;
  letter-spacing: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.hero-text h1 {
  margin: 10px 0;
  border-radius: 10px;
}

.hero-text p {
  font-size: 20px;
  font-weight: 500;
  line-height: 10px;
}

@keyframes hero-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

article {
  margin: 10px 0;
  padding: 40px 0;
  max-width: 100%;
}

article header {
  margin: 0;
}

article h2 {
  margin-top: 0;
}

article h5 {
  margin-top: 0;
}

#club-ethos {
  height: 600px;
}

#left-about,
#right-about {
  padding-top: 30px;
  width: 33%;
}

#left-about {
  float: left;
}

#right-about {
  float: right;
}

#center-about {
  width: 33%;
  margin: 0 auto;
}

hr {
  border-top: 1px solid #3a3a3a;
  width: 100%;
  margin: 5px 0;
}

.left-about-heading,
.right-about-heading {
  width: 60%;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
  border-radius: 50%;
}

.left-about-heading {
  float: right;
}

.right-about-heading {
  float: left;
}

#welcome {
  text-align: center;
  margin: 20px;
  font-size: 170%;
}

#article {
  padding: 0 20px;
}

#articles {
  margin: 10px;
  font-size: 20px;
}

#articleh5 {
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
  color: #3a3a3a;
}

#paragraph-1,
#paragraph-2,
#paragraph-3 {
  margin: 10px;
}

#paragraph-2 {
  font-weight: bold;
}

#article-list {
  display: inline-block;
  margin-left: 0;
  padding-left: 20px;
}

#circle-container {
  width: 200px;
  height: 200px;
  padding: 30px;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  border-radius: 50%;
  margin: 0 auto;
}

#circle-cover-bg {
  background: url("../images/productivity.jpg") no-repeat center center;
  height: 100%;
  border-radius: 50%;
}

.social-networks {
  text-align: center;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.social-networks > li {
  display: inline;
}

.social-networks i {
  font-size: 150%;
  margin: 1%;
  padding: 5%;
  color: #3a3a3a;
}

.main-content {
  padding-bottom: 60px;
}

article2 {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 40px 0;
  max-width: 100%;
}

article2 header {
  margin: 0;
}

article h22,
article h52 {
  margin-top: 0;
}

#article2 {
  padding: 0 20px;
  margin-top: 10px;
}

#articles2 {
  margin: 10px;
  font-size: 20px;
}

#articleh52 {
  display: inline-block;
  margin-left: 0;
  font-size: 15px;
  color: #3a3a3a;
  margin: 20px 0;
}

#paragraph-12,
#paragraph-22 {
  margin: 10px;
}

#paragraph-22 {
  font-weight: bold;
}

#article-list2 {
  display: inline-block;
  margin-left: 0;
  padding-left: 20px;
}

/* Media queries */
@media screen and (max-width: 1200px) {
  #club-ethos,
  #contact-us {
    width: 65%;
    height: 1200px;
    margin: 0 auto;
  }

  #welcome,
  #contact-us {
    padding: 30px 0;
  }

  #left-about,
  #right-about,
  #center-about {
    width: 100%;
    padding: 0;
  }

  #left-about,
  #right-about {
    float: left;
  }

  #center-about {
    clear: both;
    float: left;
  }

  #hr {
    display: none;
  }

  .footer-menu ul {
    display: block;
    margin-top: 10px;
  }

  footer {
    clear: both;
  }

  #contact-us {
    width: 100%;
    height: 651px;
  }

  #contact-text {
    width: 100%;
    height: auto;
    float: none;
    margin-top: 0;
  }

  #contact-map {
    width: 100%;
    height: 300px;
    margin-top: 20px;
  }

  #contact-text ul {
    font-size: medium;
    padding-top: 10%;
  }

  #contact-us li {
    padding: 10px;
    font-size: small;
  }
}

.form-section {
  max-width: 500px;
  position: relative;
  padding: 20px;
}

.form-section .feedback-input {
  color: #3a3a3a;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #cc6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.form-section .feedback-input:focus {
  border: 2px solid #cc4949;
}

.form-section textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

.form-section [type="submit"] {
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  background-color: #cc4949;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: #3a3a3a;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

a {
  scroll-behavior: smooth;
}

#page-container {
  position: relative;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
  min-height: 90vh;
}

#footer {
  width: 100%;
  color: #3a3a3a;
  text-align: center;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
}

@media screen and (max-width: 950px) {
  #cover-text {
    left: 0;
  }

  #club-ethos {
    width: 90%;
    height: 1200px;
    margin: 0 auto;
  }

  .left-about-heading,
  .right-about-heading {
    width: inherit;
  }

  .left-about-heading h2,
  .right-about-heading h2 {
    width: 100%;
    text-align: center;
  }

  .left-about-heading p,
  .right-about-heading p {
    text-align: center;
    padding: 0 20px;
  }

  #center-about {
    clear: both;
    width: 100%;
  }

  #contact-us {
    text-align: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    position: relative;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 100px;
  }

  #contact-text {
    width: 100%;
    margin: 0 auto;
    height: auto;
    float: none;
    position: relative;
    box-sizing: border-box;
    padding: 15px;
  }

  #contact-us h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #contact-text ul {
    padding-top: 3%;
    font-size: medium;
    margin: auto;
    vertical-align: middle;
  }

  #contact-us li {
    padding: 10px;
    list-style-type: none;
    font-size: small;
  }

  #contact-map {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    float: none;
  }
}

@media screen and (max-width: 900px) {
  .form-section {
    padding-top: 100px;
  }

  .form-section .feedback-input {
    font-size: 14px;
    padding: 10px;
  }

  .form-section textarea {
    height: 100px;
  }

  .form-section [type="submit"] {
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #contact-text h3 {
    position: static;
    margin-top: 20px;
  }
}

@media screen and (max-width: 500px) {
  #menu,
  #logo {
    margin-left: 0;
  }
}
